

<div class="container-show">
    <p class= "mybookings-link" ><%= link_to 'TakingCare', root_path %></p>
  <h1 class= "mybookings-title">My bookings</h1>
  <div class="row">
    <div class="col-6 show-half">
      <div class="show-cards">
        <h2><%= current_user.contracts.first.nickname %></h2>
        <%= cl_image_tag current_user.contracts.first.photo %>
        <div class='characteristics'>
          <p class="description"> <strong>Skills :</strong> <%= current_user.contracts.first.description%></p>
          <p class="price"> <strong>Price :</strong> <%= current_user.contracts.first.price %> </p>
          <p class="rank"> Rank : <%= current_user.contracts.first.rank %> </p>
        </div>
      </div>
    </div>
    <div class="col-6 show-half">
      <div class="show-cards">
        <h2>Who's next?</h2>
         <ul>
           <li>- Ryan's bodyguard </li>
           <li>- Bertrand's kidnapping, special demand from le Wagon's students : they want their certification.</li>
           <li>- Trump's assassination to save the world.</li>
         </ul>
      </div>
    </div>
  </div>
</div>



