<h1 class="indextitle">Contracts List</h1>

<div class= "row">

  <div class="col-sm-12 col-lg-4">
    <%= link_to contract_path(@contracts.first) do %>
      <div class="card-product">
        <%= image_tag "ben.png" %>
        <div class="card-product-infos">
          <ul>
          <% @contracts.each do |contract| %>
            <li>
              <h2> <%= contract.nickname %> </h2> <!--Ben-->
              <p>#####CRIPTED######</p>
              <p>#####CRIPTED######</p>
            </li>
            <%#= link_to "See your Selection !", contract_path(contract) %>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-12 col-lg-4">
    <%= link_to contract_path(@contracts.first) do %>
      <div class="card-product" >
        <img src="https://resize-elle.ladmedia.fr/r/625,,forcex/crop/625,437,center-middle,forcex,ffffff/img/var/plain_site/storage/images/loisirs/cinema/news/uma-thurman-veut-faire-un-kill-bill-3-avec-quentin-tarantino-2968832/55515980-1-fre-FR/Uma-Thurman-veut-faire-un-Kill-Bill-3-avec-Quentin-Tarantino.jpg">
        <div class="card-product-infos">
          <ul>
          <% @contracts.each do |contract| %>
            <li>
             <h2> Mamba </h2> <!--Uma-->
              <p>#####CRIPTED######</p>
              <p>#####CRIPTED######</p>
            </li>
            <%#= link_to "See your Selection !", contract_path(contract), class: "toShow" %>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

   <div class="col-sm-12 col-lg-4">
    <%= link_to contract_path(@contracts.first) do %>
      <div class="card-product">
        <img src="https://www.french-stream.to/img/poster/leon.jpg">
        <div class="card-product-infos">
          <ul>
          <% @contracts.each do |contract| %>
            <li>
             <h2> Léon </h2> <!--Léon-->
              <p>#####CRIPTED######</p>
              <p>#####CRIPTED######</p>
            </li>
            <%#= link_to "See your Selection !", contract_path(contract) %>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

   <div class="col-sm-12 col-lg-4">
    <%= link_to contract_path(@contracts.first) do %>
      <div class="card-product">
        <img src="https://static.tvgcdn.net/feed/1/648/thumbs/12185648_1300x1733.jpg">
        <div class="card-product-infos">
          <ul>
          <% @contracts.each do |contract| %>
            <li>
             <h2> Nikita </h2> <!--Nikita-->
              <p>#####CRIPTED######</p>
              <p>#####CRIPTED######</p>
            </li>
            <%#= link_to "See your Selection !", contract_path(contract) %>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-sm-12 col-lg-4">
    <%= link_to contract_path(@contracts.first) do %>
      <div class="card-product">
        <img src="https://www.photosdecinema.com/5510-tm_thickbox_default/chacal-le-the-jackal.jpg">
        <div class="card-product-infos">
          <ul>
          <% @contracts.each do |contract| %>
            <li>
             <h2> Le Chacal </h2> <!--Le Chacal-->
              <p>#####CRIPTED######</p>
              <p>#####CRIPTED######</p>
            </li>
            <%#= link_to "See your Selection !", contract_path(contract) %>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-12 col-lg-4">
    <%= link_to contract_path(@contracts.first) do %>
      <div class="card-product">
        <img src="http://www.fondsecran.eu/a/get_photo/526838/1280/800">
        <div class="card-product-infos">
          <ul>
          <% @contracts.each do |contract| %>
            <li>
             <h2> Le Duo </h2> <!--Le Duo-->
              <p>#####CRIPTED######</p>
              <p>#####CRIPTED######</p>
            </li>
            <%#= link_to "See your Selection !", contract_path(contract) %>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

