<h1>Contracts#Show</h1>

<img src="TakeCare/app/assets/images/ben.png" alt="ben.png">
<div class=container>
  <h2><strong><%= @contract.nickname %></strong></h2>
 <h3>description : <%= @contract.description%></h3>
  <h4>price :  <%= @contract.price %></h4>
  <h5>rank : <%= @contract.rank %></h5>
</div>

<%= render 'form', booking: @booking %>
