<div class="container-show">
  <div class="row row-height">
    <div class="col-6 show-half">
      <div class="show-cards">
        <h1><%= @contract.nickname %></h1>
        <%= cl_image_tag @contract.photo %>
        <div class='characteristics'>
          <p class="description"> <strong>Skills :</strong> <%= @contract.description%></p>
          <p class="price"> <strong>Price :</strong> <%= @contract.price %> </p>
          <p class="rank"> Rank : <%= @contract.rank %> </p>
        </div>
      </div>
    </div>
    <div class="col-6 show-half">
      <div class="show-cards">
        <div class="show-form">
          <%= render 'contracts/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
