<body class= "edit-contracts">


<div class="edit-container">
<%= simple_form_for [@contract, @booking] do |f| %>
<%= f.input :title, collection: Contract::MISSION %>
<%= f.input :description %>
<%= f.input :date, as: :date, required: false, input_html: {class: "datepicker"} %>
<%= f.button :submit, "Update", class: "btn-bouton-show" %>
<% end %>
</div>
</body>
