<html>
<head>
</head>

<body>
  <div class="navbar">
    <div class="left-elements">
      <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <p>TakingCare</p>
    </div>

    <div class="right-elements">
      <p><%= link_to "Join the dark side", new_contract_path %></p>
      <p><%= link_to "Manage my profile", my_bookings_path %></p>
      <p><%= link_to "Dashboard", bookings_path %></p>
      </p>
    </div>
  </div>


<div class="home-container">
  <div class="left">
    <div class="left-container">
      <div class="elements">
        <div class="home-title">Did I kill anyone?</div>
         <%= link_to "Find your guy", contracts_path, class: "btn bouton" %>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="right-container">
      <div class="bottom-elements">
        <p><%= link_to "Log out", destroy_user_session_path, :method => :delete %></p>
      </div>
    </div>
  </div>

</div>

<%= link_to "Contracts Index", contracts_path, class: "toIndex"%>

</html>
